<h1>This is a test of the site's model functionality</h1>

{{#paper-form onSubmit=(action "createStory") as |form|}}
  {{#paper-card as |card|}}

    {{#card.content}}
      <div class="layout layout-sm-row">
        {{paper-input
          class="flex-50"
          label="Story name"
          value=formName
          onChange=(action (mut formName))
          type="text"
        }}
      </div>

      <div class="layout layout-sm-row">
        {{paper-input
          class="flex-50"
          value=formThumbnailImg
          onChange=(action (mut formThumbnailImg))
          label="Thumbnail Img"
          type="text"
        }}

        {{paper-input
          class="flex-50"
          value=formCreator
          onChange=(action (mut formCreator))
          label="Creator"
          type="text"
        }}
      </div>

      {{paper-input 
        textarea=true 
        block=true
        label="Story Description" 
        maxlength=400 
        passThru=(hash rows=5 maxRows=5)
        value=formStoryDescription 
        onChange=(action (mut formStoryDescription))
      }}
    
    {{#form.submit-button primary=true raised=true}}
      Add a Story
    {{/form.submit-button}}

    {{/card.content}}
  {{/paper-card}}
{{/paper-form}}



<p>Here is a list of models:</p>

{{#each model as |storyItem|}}
  {{story-listing story=storyItem}}
  {{else}}
  <p>Sorry, no stories were found!</p>
{{/each}}

{{outlet}}
